@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@&display=swap');



*{
    font-family: 'Poppins', sans-serif!important;
}


.flex { display: flex; }
.flexCenter { display: flex; justify-content: center;}
.flexAlignCenter { display: flex; justify-content: center; align-items: center; }
